.Navbar {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  position: sticky;
  top: 0;
  transition: 0.2s;
  z-index: 10;
  border-bottom: 0.5px solid lightgrey;
  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #ffffff;
    box-shadow: none;
  }
  .css-1nu349d {
    @media (max-width: 600px) {
      margin-left: 24px;
    }
    @media (max-width: 375px) {
      display: none;
    }
  }
  .css-hyum1k-MuiToolbar-root {
    padding-left: 15px;
    padding-right: 0;
  }
  .navicons {
    color: var(--primary);
  }
  .css-17u1ypq {
    @media (max-width: 600px) {
      margin-left: 15px;
    }
  }
}
.navicons {
  color: var(--primary);
}
